  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

  :root {
    --yellow: rgb(247, 245, 149);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  .header {
    text-align: center;
    padding: 32px;
  }

  #title {
    font-size: 24px;
    font-weight: 600;
  }

  #description {
    margin-top: 16px;
    font-size: 18px;
  }

  .choropleth-map {
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  #source {
    float: right;
    margin-right: 200px;
    padding: 24px;
  }

  #tooltip {
    background-color: var(--yellow);
    border-radius: 4px;
    border: 0;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    min-width: 180px;
    box-shadow: 0px 4px 7px 3px rgba(91, 105, 86, 0.8);
    pointer-events: none;
  }